
@import './sectionStyle/variables';
@import './sectionStyle/headerFooter';
@import './sectionStyle/sectionProducts';
@import './sectionStyle/sectionContact';
@import './sectionStyle/sectionWelcome';
@import './sectionStyle/sectionGallery';

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

ul{
    padding: 0;
}

body{    
    background-image: url("../img/chorizos.jpg");
    background-repeat: no-repeat;
    /* background-position: top center; */
    @extend %background;
    background-color: #192436;
}

h1{
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size: 6rem;
    color: white;
    margin: auto;
}

h2{
    text-align: center;
    justify-items: center;
    font-size: 4rem;
    margin: 2rem auto;
}

h3{
    text-align: center;
    justify-items: center;
    font-size: 2rem;
}


.empty1{
    height: 60rem;
    background-color: none;
}

.empty2{
    background-image: url("../img/sandwich.jpg");
    background-repeat: no-repeat;
    background-color: black;
    backdrop-filter: blur(15px);
    /* background-position: top center; */
    @extend %background;
    height: 30rem;
}

.empty3{
    height: 30rem;
    background-color: none;    
    background-image: url("");
    @extend %background;
    background-color: #192436;
}

.section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
    background-color: white;
}

.socialMedia__icon img{
    height: 2rem;
    width: 2rem;
}  

.agregarProducto{
    display: flex;
    justify-content: center;
    align-content: center;

    .boton{
        width: 50px;
    }
}







