
@import './globalScss/variables';
@import './globalScss/headerFooter';
@import './tiendaScss/sectionProducts';
@import './indexScss/sectionWelcome';
@import './indexScss/sectionGallery';
@import './logScss/log';
@import './tiendaScss/carrito';
@import './indexScss/contactForm';

*{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: $brandColorOne;
    font-size: 1.5rem;
}

ul{
    padding: 0;
}

h1{
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size: 6rem;
    color: $brandColorTwo;
    text-shadow: 2px 1px 2px $brandColorOne;
    margin: auto;
    padding-top: 15%;
}

h2{
    text-align: center;
    justify-items: center;
    font-size: 4rem;
    margin: auto;
}

h3{
    text-align: center;
    justify-items: center;
    font-size: 2rem;
}


.empty1Background{
    background-image: url("../img/brandBck2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @extend %background;
    height: 50rem;
}

.empty1{
    height: 50rem;
    background-color: none;
    padding-top: 5rem;
}

.empty2{
    background-image: url("../img/empty2.jpg");
    height: 30rem;  
    width: 100%;  
    @extend %background;
    background-color: black;

        h2{
            color: $brandColorTwo;
            margin-top: 0;
            padding-top: 10%;
        }
}

.empty3{
    background-image: url("../img/sandwich.jpg");
    background-color: black;
    backdrop-filter: blur(15px);
    @extend %background;
    height: 30rem;
}

.section{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
}

.socialMedia__icon img{
    height: 2rem;
    width: 2rem;
}  

.agregarProducto{
    display: flex;
    justify-content: center;
    align-content: center;

    .boton{
        width: 50px;
    }
}







