@import './variables';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 4rem;
    background-color: $headerColor;
    position: fixed;

    .header__content{
        display: inline-flex;
        justify-content: space-evenly;
        list-style: none;
        width: 70%;
    
        .header__content li{
            margin: auto;
    
            .header__content li a{
                padding: 0.5rem;
                color: $brandColorOne;  
            }
        }
    }
}

footer{
    height: 20rem;
    background-color: grey;
}

