

%background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

$brandColorOne: #192436;
$headerColor: #AE9A64;

$white: white;

%mainSection{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
    background-color: white;

    .main__artist{
        margin:auto;
        text-align: center;
        margin-bottom: 5rem;

        img{
            height: 20rem;
            width: auto;        
            border-radius: 15px;
        }

        .profile--contact{
            display: flex;
            justify-content: space-evenly;
        }

        .artist__card--info{
            text-align: center;
        } 
    }
}

