@import '../globalScss/variables';

.section__gallery{
    @extend %mainSection; 
    background-color: $brandColorTwo;
    color: $brandColorOne;
    
    .work__gallery{
        margin-top: 4rem;
    
        .work__gallery--img{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.2rem;
            justify-content: space-around;
            justify-items: center;
            margin: 1rem auto 3rem auto;
    
            img{
                width: 25rem;
                height: 20rem;
                border-radius: 15px;
            }
        }
        
    }
}
