@import '../globalScss/variables';

.pushbarCarrito{
  width:fit-content !important;
  height:fit-content !important;  
  border-radius: 5px;

  #carrito{
    border: ridge $brandColorOne;
    height: 80vh;
    overflow-y: scroll;
    font-size: 1rem;
    color: $brandColorOne;
    background-color: $brandColorTwo;

    #contenidoCarrito{
      text-align: center;

      #carrito_tr{    
        tr{
          border: ridge $brandColorOne;

          .carrito__img{
            img{
              width: 4rem;
              height: 3.5rem;
            }
          }
        }
      
        .btnProductos{
          width:max-content;

          .btnCarritoUno{
            width: 1.5rem;
          }
        }    
      }
    }
  }
}
  
.carritoHeader{
  text-align: center;
    .carritoHeader__titulos{
      padding: 0rem 1rem;
    }
}


.carritoFooter{
  vertical-align: top;
}

#totalCarritoHeader{
  margin-bottom: 0.2rem;
}

.boton.click{
  @extend %btn2;
}

.btnCarrito{
  @extend %btn1;
}
