@import '../globalScss/variables';

.section__products{
  background-color: $brandColorOne !important;
  color: $brandColorTwo;

    @extend %mainSection;
    h2{
      margin-top: 5rem;
    }
}

.products__container{

  .products__gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.1rem;
    row-gap: 4rem;
    width: 80%;
    justify-content: space-evenly;
    justify-items: center;
    margin: 1rem auto 3rem auto;
    margin-top: 4rem;      
    
      .cards{
        text-align: center;
          img{
              width: 17rem;
              height: 14rem;
              border-radius: 15px;
          }
      }          
  };
}



